---
title: Riverwalk Design Installation
displayTitle: Riverwalk<br> Design<br> Installation
description: Every year,  Designing a Better Chicago supports the creation of a large-scale design installation, housed at the western most end of the Chicago Riverwalk.
layout: default
permalink: /riverwalk-inactive/
id: riverwalk
bodyClasses: riverwalk
riverwalkActive: false
---

{% contentfor bannerContent %}
  {% if page.riverwalkActive %}
    <h2 class="split-headline animate-in black-electric">
      <span><span>Jun-Oct</span></span>
      <span><span>2020 <svg class="icon-triangle" aria-hidden="true" role="presentation"><use xlink:href="#icon-triangle"/></svg></span></span>
    </h2>
  {% endif %}
{% endcontentfor %}

<div id="location" class="location-section section background-electric">
  <div class="container">
    <div class="headline-one">
      <h2 class="split-headline animate-in{% if page.riverwalkActive %} align-right{% endif %} offset-top-1 electric-black">
        <span><span>Located at</span></span>
        <span><span>the Confluence</span></span>
      </h2>
      <p{% if page.riverwalkActive %} class="align-right"{% endif %}>— the Riverwalk's westernmost end.</p>
    </div>
  </div>

  <div id="map" class="map">
    <img src="/assets/images/map.svg" alt="Map of the Mart and the Confluence">
  </div>

  <div class="container">
    <div class="section-content grid spaced-lg">
      <div class="long-text col-md-1-2">
        <p>[ <a href="https://www.google.com/maps/place/Chicago+Riverwalk/@41.8868629,-87.6372816,16.9z/data=!4m5!3m4!1s0x880e2cb79a276f49:0x79b146ad07310363!8m2!3d41.8864113!4d-87.6364267" target="_blank" rel="noopener">MAP</a> ]</p>
      </div>
      <div class="col-md-1-2">
        <p>Every year, one design team has the opportunity to transform 6,000 square feet of the iconic Chicago Riverwalk into a
        living work of art.</p>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-section section background-gray">
  <div class="section-line"><svg class="fill-white" aria-hidden="true" role="presentation"><use xlink:href="#line" /></svg></div>
  <div class="container">
    <div class="about-intro section-content grid spaced-lg -align-right">
      <div class="col-md-1-2">
        <p>A hallmark of Designing a Better Chicago, the Riverwalk installation celebrates shared space while demonstrating the intersection of art, architecture and design.</p>
        <p>The team and piece are selected through an invitational call for submissions.</p>
        <p>For 2020, the design team Kwong Von Glinow + UB Studio has been chosen to lead the inaugural installation, titled “Give Me a Minute, please!”.</p>
      </div>
    </div>

    {% if page.riverwalkActive %}
      <div class="headline-one">
        <h2 class="split-headline animate-in black-forest">
          <span><span>About the</span></span>
          <span><span>Installation <svg class="icon-triangle" aria-hidden="true" role="presentation"><use xlink:href="#icon-triangle" /></svg></span></span>
        </h2>
      </div>

      <div class="section-content grid spaced-lg">
        <div class="col-md-1-2">
          <p>The theme Designing a Better Chicago acknowledges that our city is constantly evolving: it is never static and it never stops imagining a better version of itself. Likewise, its people are ever on the move. Our approach for this project began by understanding the relevance of this prompt and how Designing a Better Chicago can affect the public experiencing the city.</p>
        </div>
      </div>

      <div class="section-image">
        <div class="section-line"><svg class="fill-white" aria-hidden="true" role="presentation"><use xlink:href="#line" /></svg></div>
        <img src="/assets/images/riverwalk-about-1.jpg" alt="Photograph of the Riverwalk Design Installation">
      </div>
    </div>

    <div class="container">
      <div class="installation-text grid spaced-lg">
        <div class="col-md-1-2">
          <blockquote class="color-forest">
            <p>“The best designed public spaces never dictate or manipulate the visitor to use the space in a certain way. They allow the visitor to explore and discover with time.”</p>
          </blockquote>
        </div>

        <div class="long-text col-md-1-2">
          <p>Room 6 is an amazing site in the center of Chicago, surrounded by magnificent architecture along the lively and dynamic Riverfront. The question we asked ourselves when given this site was what more can we give to this site as architects? Our design “Give Me a Minute, please!” offers time and space.</p>
          <p>One minute can seem very short, but at the same time one minute can seem very long. A minute is relative. “Give Me a Minute, please!” can be interpreted in many different ways. This phrase often translates as a way to ask someone to wait. It almost always means a short amount of time and not literally a minute. For our society which demands spontaneity, on-the-go, everything-all-at-once, one minute is often broken up and doled out to various competing focuses. What if the city can offer that minute back to you to enjoy?</p>
          <p>The best designed public spaces never dictate or manipulate the visitor to use the space in a certain way. They allow the visitor to explore and discover with time.</p>
          <p>Our installation offers a space for contemplation: a respite - even if knowingly momentary - where visitors will pause, delight, and enjoy their surroundings.</p>
          <p>— Kwong Von Glinow + UB Studio</p>
        </div>
      </div>

      <div class="grid spaced-lg">
        <div class="col-md-1-2">
          <img src="/assets/images/riverwalk-about-2.jpg" alt="Photograph of the Riverwalk Design Installation">
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% if page.riverwalkActive %}
  <div id="design-team" class="design-team-section section background-white">
    <div class="container">
      <div class="headline-one">
        <h2 class="split-headline animate-in black-forest">
          <span><span>About the</span></span>
          <span><span>Design Team</span></span>
        </h2>
      </div>

      <div class="section-content grid spaced-lg">
        <div class="col-md-1-2">
          <p>The design team is a joint-venture between Kwong Von Glinow and UB Studio.</p>
        </div>
      </div>

      <div class="section-image">
        <div class="section-line"><svg class="fill-white" aria-hidden="true" role="presentation"><use xlink:href="#line" /></svg></div>
        <img src="/assets/images/about-design-team.jpg" alt="Photograph of Kwong Von Glinow">
      </div>

      <div class="long-text grid spaced-lg">
        <div class="col-md-1-2">
          <p>Kwong Von Glinow’s projects are about clear ideas and compelling ideals. Their optimistic approach to design ensures that space, function, and beauty are considered as a cohesive and effective unit for all. Their investigations center around urban public space, city living solutions, and creating places for cultural engagement. Through explorative design strategies, the firm’s work targets a wide audience by translating architectural concepts into playful designs that aim for broad appeal.</p>
        </div>
        <div class="col-md-1-2">
          <p>Lap Chi Kwong and Alison Von Glinow (AIA) co-founded Kwong Von Glinow Design Office in Chicago in January 2017.  Since founding the office, they have received the 2018 Architectural League Prize of New York for Young Architects and Designers, a grant from the Graham Foundation, and won five international design competitions. Current projects include a single family home in Chicago, the Swiss Consulate Offices in the Hancock Tower, a community center in New York, and an exhibition at the Swiss Architecture Museum.  Prior to founding Kwong Von Glinow Design Office, the duo worked with Herzog & de Meuron in Basel, Switzerland for a combined 7 years before returning to Chicago.</p>
          <p>Shinya Uehara of UB Studio began collaborating with Kwong Von Glinow as the structural designer and technical consultant for the execution of Ardmore House in Chicago since September 2018.  Shinya has provided design input, technical guidance, and local construction knowledge that has allowed for the smooth and high-quality execution of Ardmore House.</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="background-section section" style="background-image:url('/assets/images/riverwalk-section-background.jpg');">
  <div class="background-container">
    <svg class="y-stem" aria-hidden="true" role="presentation"><use xlink:href="#line" /></svg>
    <div class="y"><svg class="logo-bottom" aria-hidden="true" role="presentation"><use xlink:href="#logo-bottom"/></svg></div>
  </div>
</div>