<nav class="footer-nav">
  <ul>
    <div class="-top">
      <li class="nav-home"><a href="/">Home</a></li>
      <li class="nav-riverwalk"><a href="/riverwalk">Riverwalk Design Installation</a></li>
      <li class="nav-design-impact-grants"><a href="/design-impact-grants">Design Impact Grants</a></li>
    </div>
    <div class="-bottom">
      <li class="nav-privacy-policy"><a href="/privacy-policy" class="privacy-policy">Privacy Policy</a></li>
      <li><a href="https://www.instagram.com/explore/tags/designingabetterchicago/" target="_blank" rel="noopener">#designingabetterchicago</a></li>
    </div>
  </ul>
</nav>