<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.id != 'home' %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

  <!-- Facebook/og meta -->
  <meta property="fb:profile_id" content="93338031080" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:url" content="http://designingabetterchicago.org/" />
  <meta property="og:title" content="{% if page.id != 'home' %}{{ page.title }} | {% endif %}{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{{ site.baseurl }}assets/images/DBC-SocialFacebook-BannerAnnounce.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@NeoCon_Shows" />
  <meta name="twitter:creator" content="@NeoCon_Shows" />
  <meta name="twitter:title" content="{% if page.id != 'home' %}{{ page.title }} | {% endif %}{{ site.title }}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.baseurl }}assets/images/DBC-SocialFacebook-BannerAnnounce.jpg" />

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.gaTrackingId }}', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->

  <link rel="stylesheet" href="{{ site.baseurl }}assets{{ site.defaults.css }}">
  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}assets/images/favicon.png">

  <!-- Inject SVGs Defs for SVG icon use -->
  <script>
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "{{ site.baseurl }}assets/svgs-defs.svg", true);
    ajax.send();
    ajax.onload = function(e) {
      var div = document.createElement("div");
      div.className += "svg-defs hidden";
      div.innerHTML = ajax.responseText;
      document.body.insertBefore(div, document.body.childNodes[0]);
    }
  </script>
</head>
<body class="{% body_class %} {{ page.bodyClasses }}">
  <div id="breakpoint-indicator" class="hidden"></div>