<button class="nav-open" aria-hidden="true"><svg aria-hidden="true" role="presentation"><use xlink:href="#nav-open"/></svg></button>

<nav id="site-nav" class="site-nav">
  <button class="nav-close" aria-hidden="true"><svg aria-hidden="true" role="presentation"><use xlink:href="#nav-close"/></svg></button>

  <ul>
    <li class="home-link"><a href="/">Home <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-asterisk"/></svg></a></li>
    <li class="nav-riverwalk"><a href="/riverwalk">Riverwalk Design Installation <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-triangle"/></svg></a></li>
    <li class="nav-design-impact-grants"><a href="/design-impact-grants">Design Impact Grants <svg aria-hidden="true" role="presentation"><use xlink:href="#icon-diamond"/></svg></a></li>
  </ul>

  <div class="utility-nav">
    <a href="https://www.neocon.com/" target="_blank" rel="noopener" class="neocon-link">NeoCon <svg class="icon" aria-hidden="true" role="presentation"><use xlink:href="#icon-linkout-sm"/></svg></a>
  </div>
</nav>